@using LibraryApp.Models.DTO;

@model BookRegisterModel

@{
    ViewData["Title"] = "Add Book";
}

<h2>Add a New Book</h2>

<form asp-action="AddBook" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImagePath">Choose an Image:</label>
        <input asp-for="ImagePath" type="file" class="form-control-file" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>
    <button id="uploadImageButton" type="button" class="btn btn-primary btn-block">Upload Image</button>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>

@section scripts {
    <script>
        document.getElementById("uploadImageButton").addEventListener("click", function () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/UploadImage", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Request successful, do something if needed
                    } else {
                        // Request failed, handle error if needed
                    }
                }
            };
            xhr.send();
        });
    </script>
}


