@using LibraryApp.Models.DTO;

@model BookRegisterModel

@{
    ViewData["Title"] = "Add Book";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Özel stil ayarlamalarını burada yapabilirsiniz */
        .form-container {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="container mt-5 form-container">
    <h2 class="text-center">@ViewData["Title"]</h2>

        <form asp-action="AddBook" method="post" enctype="multipart/form-data" class="my-form-class">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author">Author:</label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath">Choose an Image:</label>
            <input asp-for="ImagePath" type="file" class="form-control-file" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <button id="uploadImageButton" type="button" class="btn btn-primary btn-block">Upload Image</button>

        <button type="submit" class="btn btn-success btn-block mt-3">Add Book</button>
        <div class="mt-3" style="padding: 10px;">
            <a asp-controller="Book" asp-action="GetBookList" class="btn btn-primary btn-block">View Book List</a>
        </div>
    </form>
</div>
    <script>
        document.getElementById("uploadImageButton").addEventListener("click", function () {
            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append("file", file);

            // AJAX isteği ile resmi yükleyin
            fetch("/Book/UploadImage", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // Yükleme işlemi tamamlandığında yapılacak işlemler burada
                    console.log(data);
                })
                .catch(error => {
                    console.error("Hata oluştu: ", error);
                });
        });
        document.querySelector('.my-form-class').addEventListener("submit", function (event) {
            var nameInput = document.querySelector('input[name="Name"]');
            var authorInput = document.querySelector('input[name="Author"]');
            var imageInput = document.querySelector('input[name="ImagePath"]');

            if (!nameInput.value.trim() || !authorInput.value.trim() || !imageInput.value) {
                event.preventDefault(); // Form gönderimini engelle

                toastr.error("Please fill in all fields.");
            }
        });
    </script>
  








</body>
</html>