@using LibraryApp.Models.DTO;

@model BookRegisterModel

@{
    ViewData["Title"] = "Add Book";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Özel stil ayarlamalarını burada yapabilirsiniz */
        .form-container {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="container mt-5 form-container">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <form asp-action="AddBook" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author">Author:</label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath">Choose an Image:</label>
            <input asp-for="ImagePath" type="file" class="form-control-file" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <button id="uploadImageButton" type="button" class="btn btn-primary btn-block">Upload Image</button>

        <button type="submit" class="btn btn-success btn-block mt-3">Add Book</button>
        <div class="mt-3" style="padding: 10px;">
            <a asp-controller="Book" asp-action="GetBookList" class="btn btn-primary btn-block">View Book List</a>
        </div>
    </form>
</div>


    @section scripts {
        <script>
            document.getElementById("uploadImageButton").addEventListener("click", function () {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/UploadImage", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            // Request successful, do something if needed
                        } else {
                            // Request failed, handle error if needed
                        }
                    }
                };
                xhr.send();
            });
        </script>
    }

</body>
</html>